.yarn
node_modules
/dist/

/packages/_react-icons
/packages/_react-icons-pack

/packages/react-icons/build
/packages/react-icons/icons/*
!/packages/react-icons/icons/index.ts

/packages/preview/out
/packages/preview/.next

/lerna.json
README.md
CODE_OF_CONDUCT.md
